body{
  background: #c21500;  /* fallback for old browsers */
  background: linear-gradient(to right, #ffc500, #c21500); 
    overflow:hidden;
  }
  .dot{
    width:35px;
    height:35px;
    position:absolute;
    border-radius: 50px;
    background-color: white;
    background-size: 100% 100%;
  }
  html, body, #container {width:100%; height:100%; }
 