body{
    background-color: black;
    overflow:hidden;
  }
  .dot{
    width:35px;
    height:35px;
    position:absolute;
    border-radius: 50px;
    background-color: transparent;
    color: white;
    background-size: 100% 100%;
  }
  html, body, #container {width:100%; height:100%; }
 